node_modules

# Ignore specific JSON files
1_visit.json
2_order.json
3_appointment.json
4.json
5.json
3_appointmentOrder.json
4_AdmissionOrder.json
1-Temp.js
2-Temp.js
3-Temp.js

# Ignore specific JavaScript file
# 0.js

# Ignore java
# 0.java

# Ignore specific JSON file
purify.json
purify1.json
purify2.json
purify3.json

visit1
visit1_a
visit1_o

visitSecond2
visitSecond2_a
visitSecond2_o

DEVELOPMENT/X_COMPANIES/VRHYTHMS/bugfix_json
