datasource.url='jdbc:postgresql://host.docker.internal:5437/careedge'
datasource.username='careedgehosuser'
datasource.password='c4r3EdgeH0$P@s$'
postgres.db.user='postgres'
postgres.db.password='l0gistics'
apiPort=8100
workerPort=8101
profiles.active='local'
ce-hos-inbound-queue-name='<your-first-name>-care-edge-hos-inbound.fifo'
config-update-queue-name='<your-first-name>-care-edge-config-update-inbound.fifo'
admin-config-request-queue-name='<your-first-name>-admin-config-request-inbound.fifo'
system-admin-config-request-queue-name='<your-first-name>-system-admin-config-request-inbound.fifo'
ce-hos-internal-topic-arn='arn:aws:sns:us-east-1:958705013351:<your-first-name>-care-edge-hos-internal.fifo'
jwtSignKey='P0C5sJmvy977ahPrWTS6jukHWbXlkhl8/A2obs9kMdCBqF825higVCP2oKzjTX1xmcHlWks7wgC53d/xeAN4RBGG13GRY7y8BuRuYxp4hlb3znwfSll4maRVdtMNn3mfLNiWc0r+nOLyb0h+9UWyZXQ7+osUoJV/6Y7aiFVWsOkFEj4V9uxdPxu7HtVcGlm08fquEgU4f0d1KN+2mpmNqjXNa0VI1d4ncy5ARQ=='
TZ='UTC'
ce-notification-queue-name='care-edge-notification-inbound'
twilio.accountsid='secret_value'
twilio.authtoken='secret_value'
twilio.servicesid='secret_value'

# these are only used in local. Not used when deployed to ECS
AWS_REGION='us-east-1'
AWS_ACCESS_KEY_ID='<substitute personal value here>'
AWS_SECRET_ACCESS_KEY='<substitute personal value here>'

# used for datadog
DD_API_KEY='<enter key here if you need to run datadog locally>'
DD_TRACE_SAMPLE_RATE='0.1'
DD_ENV='local'
DD_APM_FILTER_TAGS_REJECT='GET /actuator/health/**'
DD_LOGS_ENABLED=false
DD_LOG_LEVEL=debug
DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true
DD_CONTAINER_EXCLUDE=name:systemadmin-datadog-agent
DD_CONTAINER_EXCLUDE='name:datadog-agent'
